section.app 
    .app__container.container-custom 
        .app__row.row 
            .app__col-left.col-xl-6.col-lg-6 
                .app__title-wrapper.title-wrapper
                    .title-wrapper__line
                    h2.title.app__title.title-wrapper__title Download app for Exciting Deals
                    p.sub-title.app__sub-title.title-wrapper__sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. 
                
                    .app__download-links
                        a(href="").app__download-links-market 
                            i.icon-play-market.app__download-links-market-icon
                            span.app__download-links-market-text
                                span.app__download-links-market-text-top GET IT ON
                                span.app__download-links-market-text-bottom google Play
                                
                        a(href="").app__download-links-market 
                            i.icon-app-store.app__download-links-market-icon
                            span.app__download-links-market-text
                                span.app__download-links-market-text-top Download on the
                                span.app__download-links-market-text-bottom App Store
                        
                        
            .app__col-right.col-xl-6.col-lg-6 
                
                .app__img-wrapper
                    .app__col-right-background
                    img(src="images/design/salad-4.webp", alt="").app__img-phone-background
                    img(src="images/design/phone-no-shadow.webp", alt="").app__img-phone