section.food 
    .food__container.container-custom 
    
        .food__title-wrapper.title-wrapper
            .title-wrapper__line
            h2.food__title.title.title-wrapper__title some top restaurant for dining in or Take away!
            p.food__sub-title.sub-title.title-wrapper__sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.
    
    .food-slider
        .food-slider__stop
        .food-slider__wrapper
            .food-slider__wrapper-background-left
            .food-slider__wrapper-background-right
            
            
            
            .food-slider__track
                -for(var i = 0; i < 6; i++)
                    
                    .food-slider__slide
                        .food-slider__slide-content
                            .food-slider__slide-img-wrapper
                                img(src="images/content/food-1.webp", alt="").food-slider__slide-img
                            
                            .food-slider__slide-info
                                h4.food-slider__slide-title Fire Water
                                p.food-slider__slide-about we are all about we are all about to the fullest and all content dining out or in!dining out or in!
                                p.food-slider__slide-address 
                                    i.icon-map-marker.food-slider__slide-address-icon
                                    span.food-slider__slide-address-text New Market
                                a(href="").food-slider__slide-link Book Now 
                
                
                    .food-slider__slide
                        .food-slider__slide-content
                            .food-slider__slide-img-wrapper
                                img(src="images/content/food-2.webp", alt="").food-slider__slide-img
                            
                            .food-slider__slide-info
                                h4.food-slider__slide-title The Wonton 
                                p.food-slider__slide-about we are all about we are all about to the fullest and all content dining out or in!dining out or in!
                                p.food-slider__slide-address 
                                    i.icon-map-marker.food-slider__slide-address-icon
                                    span.food-slider__slide-address-text Saheb Bazar
                                a(href="").food-slider__slide-link Book Now 
    
    
        .food-slider__buttons
            button.food-slider__button-right
                            i.icon-chevron-right.food-slider__button-right-icon
            p.food-slider__buttons-text See More
                                                            