footer.footer 
    .footer__background
        img(src="images/design/grass.webp", alt="").footer__background-img
        
    .footer__container.container-custom 
        h2.small-title.footer__title 
            p.footer__title-p Get notified
            p.footer__title-p about new amazing products
        p.sub-title.footer__sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. 
        
        form(action="").footer-form-email
            .footer-form-email__wrapper
                input(type="text" placeholder = 'E-mail').footer-form-email__input
                button.footer-form-email__btn
                    i.icon-arrow-right.footer-form-email__btn-icon
                
        ul.footer-nav
            li.footer-nav__item
                a(href="").footer-nav__link Product
            li.footer-nav__item
                a(href="").footer-nav__link Company
            li.footer-nav__item
                a(href="").footer-nav__link Learn more
            li.footer-nav__item
                a(href="").footer-nav__link Get in touch
                
        .footer__sociaty-copy
            .footer-sociaty
                a(href="").footer-sociaty__link
                    i.icon-facebook.footer-sociaty__link-icon
                a(href="").footer-sociaty__link
                    i.icon-twitter.footer-sociaty__link-icon
                a(href="").footer-sociaty__link
                    i.icon-Linkedin.footer-sociaty__link-icon
                a(href="").footer-sociaty__link
                    i.icon-Behance.footer-sociaty__link-icon
                    
                    
            p.footer__copy © 2020 
                a(href="") Expice Studio
            
            
            