section.services 
    .services__container.container-custom
        .services__title-wrapper.title-wrapper
            .title-wrapper__line
            h2.title.services__title.title-wrapper__title Our Services
            p.sub-title.services__sub-title.title-wrapper__sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.
    
   
    .services-about
        .services-about__container.container-custom
            .services-about__col-left
            
                .services-about__col-left-wrapper
                    .services-about__col-left-wrapper-content
                    
                        .services-about__block
                            i.icon-eat.services-about__block-icon-small
                            
                        .services-about__info.services-about__table-info
                            h4.services-about__title.services-about__title-table advanced table booking
                                span.services-about__title-table-line
                                span.services-about__title-table-arrow
                            
                            p.services-about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                
                
                
                
                .services-about__col-left-wrapper
                        .services-about__col-left-wrapper-content
                            .services-about__info
                                h4.services-about__title.services-about__title-food Food For Free 24/7
                                    span.services-about__title-food-line
                                    span.services-about__title-food-arrow
                                
                                p.services-about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                
                            .services-about__block 
                                i.icon-plate.services-about__block-icon-small
                
                
            
            
            .services-about__col-right
                .services-about__col-right-wrapper
                            .services-about__col-right-wrapper-content
                                i.icon-delivery.services-about__icon
                                h4.services-about__title free home delivery at your door steps
                                p.services-about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                .services-about__line