//- не адаптирован
include components/header.pug

//- адаптирован
include components/discover.pug

//- адаптирован
include components/food.pug

//- адаптирован
include components/advance.pug

//- адаптирован
include components/services.pug

//- адаптирован
include components/explore.pug

//- адаптирован
include components/app.pug

//- адаптирован
include components/footer.pug 