$blue : #2E266F;
$red-hex: #FE043C;
$red-rgb:(254, 4, 60);
$gray: #707070;
$d-green: #31A24C;
$green-hex: #35CD8C;
$green-rgb:(53, 205, 140);
$pink: #FFF5EC;
$peach: #FFEDDE;
$black: #000;
$white: #fff;
