@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@include font('Poppins', 'poppins/poppins-Thin', 100, normal);
@include font('Poppins', 'poppins/poppins-ExtraLight', 200, normal);
@include font('Poppins', 'poppins/poppins-Light', 300, normal);
@include font('Poppins', 'poppins/poppins-Regular', 400, normal);
@include font('Poppins', 'poppins/poppins-Medium', 500, normal);
@include font('Poppins', 'poppins/poppins-SemiBold', 600, normal);
@include font('Poppins', 'poppins/poppins-ExtraBold', 800, normal);
@include font('Poppins', 'poppins/poppins-Black', 900, normal);
@include font('Poppins', 'poppins/poppins-Bold', bold, normal);


